@import url("htts://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("https://images.pexels.com/photos/6077797/pexels-photo-6077797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    position: relative;

    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.waves{
    position: absolute;
    bottom: 0px;
    
}

.schip{
    background-size: cover;
}

.middle{
    height: 70vh;
    width: 80%;
    display:flex;
    justify-content: start;
    align-items: center;
}
:root{
    --main-color: #f0b30f;
}

.navbar-brand{
    color: var(--main-color) !important;
}
.color{
    color: var(--main-color);
}

.ss{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);

}
.navbar ul li a:hover{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
}

#consultation{
    /* display: flex; */
    /* justify-content: center; */
    height: 50px;
    padding: 5px;
    border-radius: 24px;
    color: white;
    background-color: #f0b30f;
    font-weight: 900;
    z-index: 5;
    border-color: #f0b30f;
    animation: fade-in 4s;
}
#consultation:hover{
    transform: translateY(0) scale(1.2);
    cursor: pointer;
    
}

@keyframes slideMe{
    0%{
        transform:translateX(-1200px);
    }
    /* 100%{
        transform: skew(0deg);
    } */
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes slider{
    0%{
        transform: skewX(360deg) translateX(1200px);
    }100%{
        transform: skew(0deg);
    }
}
#slide{
    /* animation: slider 1s forwards; */
    animation: fade-in 3s;
}
.bottom{
    display: flex;
    justify-content: center;
}

.bg-4{
    background-color: black;
}
.container-card{
    padding-top: 70px;
    padding-bottom: 70px;

}
p{
    line-height: 1.8;
}
.container-footer{
    height:100px;
    width:100%;
    background-color: #f0b30f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scott{
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif
}
.padding{
    padding-bottom:130px;
}

.more-padding{
    padding-bottom:160px;
}

#margins-for-about{
    margin-left: 30px;
    margin-right:30px;
}

#yelpIcon{
    height: 10%;
    width: 10%;
}